/**
商品详细信息
*/
/*---------------商品详情---------------*/
.fav_t {
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	background-color: #f6f6f6;
	font-size: 14px;
	padding-left: 10px;
	border-bottom: 1px solid #eaeaea;
}

.pro_des {
	width: 520px;
	height: 490px;
	overflow: hidden;
	float: left;
	display: inline;
	margin-left: 30px;
}

.des_name {
	height: 50px;
	line-height: 25px;
	overflow: hidden;
	color: #888888;
	font-size: 14px;
}

.des_name p {
	color: #3e3e3e;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.des_price {
	height: 64px;
	line-height: 32px;
	overflow: hidden;
	font-family: "宋体";
	margin-top: 25px;
	margin-bottom: 20px;
}

.des_price b {
	color: #ff3200;
	font-size: 18px;
	font-family: "Microsoft YaHei";
}

.des_price span {
	font-size: 14px;
	font-family: "Microsoft YaHei";
}

.des_choice {
	line-height: 40px;
	overflow: hidden;
	color: #888888;
	font-family: "宋体";
}

.des_choice ul li {
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	font-size: 14px;
	text-align: center;
	font-family: "Microsoft YaHei";
	float: left;
	display: inline;
	margin-right: 10px;
	margin-top: 4px;
	margin-bottom: 2px;
	padding: 0 15px;
	border: 1px solid #cccccc;
	cursor: pointer;
	position: relative;
}

.des_choice ul li:hover {
	height: 26px;
	line-height: 26px;
	padding: 0 14px;
	overflow: hidden;
	border: 2px solid #ff4e00;
}

.des_choice ul li .ch_img {
	width: 18px;
	height: 18px;
	overflow: hidden;
	background: url(../images/ch.png) no-repeat center top;
	position: absolute;
	right: 0;
	bottom: 0;
	display: none;
}

.des_choice ul li.checked {
	height: 26px;
	line-height: 26px;
	padding: 0 14px;
	overflow: hidden;
	border: 2px solid #ff4e00;
}

.des_choice ul li.checked .ch_img {
	display: block;
}

.des_share {
	height: 60px;
	overflow: hidden;
	margin-top: 25px;
}

.des_share .d_sh {
	width: 68px;
	height: 27px;
	line-height: 27px;
	background: url(../images/sh.png) no-repeat 12px 5px;
	text-indent: 32px;
	font-family: "宋体";
	float: left;
	border: 1px solid #FFF;
	cursor: pointer;
	position: relative;
}

.des_share .d_sh .d_sh_bg {
	width: 176px;
	height: 28px;
	overflow: hidden;
	border: 1px solid #eaeaea;
	position: absolute;
	left: 0;
	top: 27px;
	display: none;
}

.des_share .d_sh .d_sh_bg a {
	overflow: hidden;
	text-indent: 0;
	float: left;
	margin-left: 10px;
	margin-top: 6px;
}

.des_share .d_sh:hover {
	border: 1px solid #eaeaea;
}

.des_share .d_sh:hover .d_sh_bg {
	display: block;
}

.des_share .d_care {
	height: 27px;
	line-height: 27px;
	overflow: hidden;
	background: url(../images/care.png) no-repeat left center;
	float: left;
	display: inline;
	margin-left: 50px;
	padding-left: 22px;
}

.des_join {
	height: 45px;
	overflow: hidden;
	margin-top: 20px;
}

.j_nums {
	width: 78px;
	height: 43px;
	overflow: hidden;
	float: left;
	display: inline;
	margin-right: 10px;
	border: 1px solid #cccccc;
}

.n_ipt {
	width: 56px;
	height: 43px;
	line-height: 43px\9;
	background: none;
	color: #555555;
	font-size: 18px;
	text-align: center;
	font-family: "Microsoft YaHei";
	float: left;
	padding: 0;
	border: 0;
}

.n_btn_1 {
	width: 21px;
	height: 21px;
	overflow: hidden;
	background: url(../images/jia.gif) no-repeat center top;
	float: right;
	border: 0;
	border-left: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
}

.n_btn_2 {
	width: 21px;
	height: 21px;
	overflow: hidden;
	background: url(../images/jian.gif) no-repeat center top;
	float: right;
	border: 0;
	border-left: 1px solid #cccccc;
	cursor: pointer;
}

.s_brand {
	width: 188px;
	height: 188px;
	overflow: hidden;
	float: right;
	border: 1px solid #eaeaea;
}

.s_brand_img {
	width: 188px;
	height: 132px;
	overflow: hidden;
	border-bottom: 1px solid #eaeaea;
}

.s_brand_c {
	height: 55px;
	line-height: 55px;
	overflow: hidden;
	background-color: #f6f6f6;
	font-size: 16px;
	text-align: center;
}

.des_border {
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #eaeaea;
}

.des_tit {
	height: 28px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #eaeaea;
	position: relative;
}

.des_tit ul {
	width: 100%;
	height: 29px;
	position: absolute;
	left: 0;
	top: 0;
}

.des_tit ul li {
	width: 110px;
	height: 29px;
	line-height: 27px;
	overflow: hidden;
	font-size: 14px;
	text-align: center;
	float: left;
}

.des_tit ul li.current {
	width: 109px;
	height: 27px;
	overflow: hidden;
	background-color: #FFF;
	border-right: 1px solid #FFF;
	border-top: 2px solid #ff4e00;
}

.des_t {
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	background-color: #f6f6f6;
	color: #ff4e00;
	font-size: 14px;
	text-indent: 25px;
	border-bottom: 1px solid #eaeaea;
	border-top: 2px solid #ff4e00;
}

.team_list {
	width: 160px;
	height: 195px;
	overflow: hidden;
	float: left;
	display: inline;
	margin: 25px 30px;
}

.team_list .img {
	width: 160px;
	height: 140px;
	overflow: hidden;
}

.team_list .name {
	width: 160px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
}

.team_list .price {
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	color: #999999;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}

.team_list .price font {
	color: #ff4e00;
	font-size: 14px;
}

.team_list .price span {
	font-size: 16px;
}

.team_list .price .checkbox {
	width: 25px;
	height: 20px;
	overflow: hidden;
	text-align: left;
	position: absolute;
	left: 0;
	top: 4px;
}

.team_icon {
	width: 25px;
	height: 25px;
	overflow: hidden;
	float: left;
	display: inline;
	margin: 90px 0;
}

.team_sum {
	width: 145px;
	height: 125px;
	overflow: hidden;
	color: #ff4e00;
	float: left;
	display: inline;
	margin-left: 20px;
	margin-top: 50px;
}

.team_sum span {
	font-size: 18px;
}

.sum_ipt {
	width: 58px;
	height: 23px;
	line-height: 23px\9;
	background: none;
	color: #555555;
	font-size: 16px;
	text-align: center;
	font-family: "Microsoft YaHei";
	padding: 0;
	margin: 5px auto 10px auto;
	border: 1px solid #eaeaea;
}

.des_con {
	overflow: hidden;
	margin: 25px;
}

table.jud_tab {
	height: 128px;
	overflow: hidden;
	margin: 25px 20px 0 20px;
	border-collapse: collapse;
	border: 1px solid #eaeaea;
}

.jud_per {
	color: #ff4e00;
	font-size: 14px;
	text-align: center;
}

.jud_per p {
	margin: 0;
	padding: 0;
	font-size: 34px;
	line-height: 36px;
}

.jud_bg {
	background: url(../images/s_line.gif) no-repeat left center;
	padding: 0 30px;
	font-family: "宋体";
	line-height: 22px;
}

table.jud_list tr td {
	border-collapse: collapse;
	border-bottom: 1px solid #eaeaea;
	padding: 20px;
	font-family: "宋体";
	line-height: 22px;
}

/*begin  mask layer  begin*/
.black_overlay {
	width: 100%;
	height: 100%;
	background: url(../images/box_bg.png) repeat center top;
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	z-index: 900;
}

.white_content {
	width: 540px;
	height: auto !important;
	min-height: 100px;
	height: 100px;
	background: url(../images/box.png) repeat center top;
	display: none;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -270px;
	z-index: 901;
}

.white_d {
	width: 520px;
	overflow: hidden;
	background-color: #FFF;
	margin: 10px;
	padding-bottom: 50px;
}

.notice_t {
	width: 500px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	margin: 1px auto;
}

.notice_c {
	width: 480px;
	overflow: hidden;
	margin-top: 10px;
}

.b_sure {
	width: 120px;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	background-color: #ff4e00;
	color: #FFF;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	text-align: center;
	float: left;
	display: inline;
	margin-right: 10px;
	border: 0;
}

.b_sure:hover {
	color: #FFF;
}

.b_buy {
	width: 118px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	background-color: #f6f6f6;
	color: #ff4e00;
	font-size: 14px;
	font-family: "Microsoft YaHei";
	text-align: center;
	float: left;
	display: inline;
	margin-right: 10px;
	border: 1px solid #eaeaea;
}

.b_buy:hover {
	color: #ff4e00;
}
/*end  mask layer  end*/