#screen {
	width: 80%;
	height: 100%;
	background: #ffffff;
	position: absolute;
	left: 0%;
	top: 16%;
	overflow: hidden
}

span.blue, span.green, span.gray, span.red {
	position: absolute;
	font-size: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.blue {
	background: #06c
}

.green {
	background: #4eb84a
}

.gray {
	background: #f3f3f3
}

.red {
	background: #da4901
}