<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AMG_Mall</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
  	<res-ref-name>AMG_Mall</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <!-- 编码过滤器 -->
  <filter>
  	<filter-name>encoding</filter-name>
  	<filter-class>com.hafele.util.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>encoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!-- session监控 -->
  <listener>
  	<listener-class>com.hafele.util.SessionListener</listener-class>
  </listener>
  <!-- application监控 -->
  <listener>
  	<listener-class>com.hafele.util.ApplicationListener</listener-class>
  </listener>
  
  <!-- 用户类 -->
  <servlet>
    <servlet-name>userList</servlet-name>
    <servlet-class>com.hafele.servlet.UserServlet</servlet-class>
  </servlet>
  <!-- 商品大类 -->
  <servlet>
    <servlet-name>bigTypeServlet</servlet-name>
    <servlet-class>com.hafele.servlet.BigTypeServlet</servlet-class>
  </servlet>
  <!-- 商品小类 -->
  <servlet>
    <servlet-name>smallTypeServlet</servlet-name>
    <servlet-class>com.hafele.servlet.SmallTypeServlet</servlet-class>
  </servlet>
  <!-- 商品细类 -->
  <servlet>
    <servlet-name>detailTypeServlet</servlet-name>
    <servlet-class>com.hafele.servlet.DetailTypeServlet</servlet-class>
  </servlet>
  
  <!-- 验证码 -->
  <servlet>
    <servlet-name>GenImageServlet</servlet-name>
    <servlet-class>com.hafele.util.SecurityCode</servlet-class>
  </servlet>
  <!-- 商品 -->
  <servlet>
    <servlet-name>GoodsServlet</servlet-name>
    <servlet-class>com.hafele.servlet.GoodsServlet</servlet-class>
  </servlet>
  <!-- 首页幻灯 -->
  <servlet>
    <servlet-name>SlideServlet</servlet-name>
    <servlet-class>com.hafele.servlet.SlideServlet</servlet-class>
  </servlet>
  
  <!-- 首页 -->
  <servlet>
  	<servlet-name>indexServlet</servlet-name>
  	<servlet-class>com.hafele.servlet.IndexServlet</servlet-class>
  </servlet>
  
  <!-- 商品页面 -->
  <servlet>
    <servlet-name>GoodsPageServlet</servlet-name>
    <servlet-class>com.hafele.servlet.GoodsPageServlet</servlet-class>
  </servlet>
  
  <!-- 查询 -->
  <servlet>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.hafele.servlet.SearchServlet</servlet-class>
  </servlet>
  
  <!-- 购物车 -->
  <servlet>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.hafele.servlet.CartServlet</servlet-class>
  </servlet>
  
  <!-- 管理中心 -->
  <servlet>
  	<servlet-name>MemberServlet</servlet-name>
  	<servlet-class>com.hafele.servlet.MemberServlet</servlet-class>
  </servlet>
   
  <servlet-mapping>
    <servlet-name>userList</servlet-name>
    <url-pattern>*.user</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bigTypeServlet</servlet-name>
    <url-pattern>*.big</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>smallTypeServlet</servlet-name>
    <url-pattern>*.small</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>detailTypeServlet</servlet-name>
    <url-pattern>*.detail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenImageServlet</servlet-name>
    <url-pattern>*.code</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SlideServlet</servlet-name>
    <url-pattern>*.slide</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsServlet</servlet-name>
    <url-pattern>*.goods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>indexServlet</servlet-name>
  	<url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsPageServlet</servlet-name>
    <url-pattern>/GoodsPageServlet</url-pattern>
  </servlet-mapping> 
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>*.cart</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberServlet</servlet-name>
  	<url-pattern>*.member</url-pattern>
  </servlet-mapping>
  
</web-app>